@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Micro+5&family=Pixelify+Sans:wght@400..700&family=Rubik+Spray+Paint&family=Sekuya&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;
    
}
html,body {
    width: 100%;
    height: 100%;
    background-color: black;
    /* background-image: url("/images/background.png"); */
    background-position: center;
    background-size: cover;
}
body {
    /* height: 100vh;
    width: 100vh; */
    font-family: Arial;
    /* overflow: hidden; */
    
}
/* wanted the domain to have dark theme so did ts */
.bimg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    z-index: 10;
    pointer-events: none;
    background-image: url("/images/background.png");
}
.header {
    display: flex;
    justify-content: space-between;
    width: 98vw;
}
.random {
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    opacity: 0.3;
    padding-top: 20px;
}
.logo {
    margin-left: 25px;
    padding-top: 20px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    opacity: 0.8;
}
.main {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}
.info {
    width: 60%;
    margin-left: 25px;
    /* padding-top: 35px; */
    
}
.faint {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.6;
    padding-right: 45px;
}
.large {
    font-family: "Pixelify Sans", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    letter-spacing: 10px;
    opacity: 0.9;
    padding: 20px 0px;
}
.idk {
    font-family: "Pixelify Sans", system-ui;
    font-weight: 1000;
    /* font-style: italic;
    text-decoration: dotted; */
    opacity: 0.6;
    letter-spacing: 5px;
    transform: rotate(180deg);
    text-align: right;
}
.opts {
    width: 36%;
}
.opt {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    opacity: 0.7;
}
.num {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    opacity: 0.4;
}
.arro, .arro2 {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    opacity: 0.7;
}
.arro2 {
    padding-left: 7px;
}
hr {
    opacity: 0.3;
    width: 80%;
}
.create {
    padding: 20px 0px;
    cursor: pointer;
    width: 80%;
    transition: background-color 1s ease, padding-left 0.5s ease;
}
.create:hover {
    background-color: rgba(128, 128, 128, 0.301);
    padding-left: 20px;
}
.footer {
    font-family: "Rubik Spray Paint", system-ui;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 98%;
    opacity: 0.1;
    /* margin-left: 5px; */
    margin: 0px 25px;

}
